.fundo{
    background-image: linear-gradient(45deg, black, crimson);
    height: 100vh;
    color: white;
   font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;}

    .Botao{
        width: 50px;
        height: 50px;
       font-size: 25px;
       cursor: pointer;
       background-color: rgb(31, 31, 31);
       border: none;
       color: white;
       margin: 3px;
    }
       .Botao:hover{
         background-color:black ;
       }
       #resultado{
           width: 214px;
           background-color: white;
           height: 30px;
           text-align: right;
           margin: 5px;
           color: black;
           font-size: 25px;
           padding: 5px;
           align-self: center;
       }